/*REACT-STRIPE-ELEMENT*/

.Checkout {
  margin: 0 auto;
  max-width: 800px;
  box-sizing: border-box;
  padding: 0 5px;
}
input,
.StripeElement {
  display: block;
  margin: 10px 0 20px 0;
  max-width: 500px;
  padding: 10px 14px;
  font-size: 1em;
  font-family: 'Source Code Pro', monospace;
  box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px,
    rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
  border: 0;
  outline: 0;
  border-radius: 4px;
  background: white;
}
input::placeholder {
  color: #aab7c4;
}
input:focus,
.StripeElement--focus {
  box-shadow: rgba(50, 50, 93, 0.109804) 0px 4px 6px,
    rgba(0, 0, 0, 0.0784314) 0px 1px 3px;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
}

/*REACT-STRIPE-ELEMENT*/

body {
  font-family: sans-serif;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: lightgray;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* base image styling */

.centercontainer {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rowcontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.rowcontainerproduct {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

#single-product-description {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#single-product-description > h6 {
  margin-left: 16vw;
}

#single-product-description > button {
  margin-bottom: 100px;
}

#singleproductcard {
  margin-left: 11vw;
}

img {
  max-width: 100%;
  width: 33vw;
  height: auto;
}

/* All Products */

.centerproductcontainer {
  margin: auto;
  width: 90vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

/* Single Product */

#single-product-description {
  width: 70vw;
}

/* Product Card */

#price {
  color: red;
}

.productcentercontainer {
  width: 300px;
  margin: 10px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#productname {
  color: teal;
  text-decoration: none;
  font-size: 18px;
}

#producttitle > a {
  text-decoration: none;
}

.crop {
  height: 175px;
  width: auto;
  overflow: hidden;
}

.crop > img {
  height: 175px;
  width: auto;
}

/* Buttons */

button {
  z-index: 100;
  border-radius: 10px;
  height: 40px;
  background-color: teal;
  color: white;
}

/* Navbar */

nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 40px;
  background-color: teal;
}

.navlinks > a {
  color: white;
  text-decoration: none;
}

/* Landing Page and Product Views*/

.mainlanding {
  margin-left: 20px;
}

.header1 {
  align-self: flex-start;
}

/* All products */

#allproductsheading {
  margin-left: 20px;
  color: teal;
  text-shadow: gray 1px 1px;
}

select {
  margin-left: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: teal;
  color: white;
}

/* Small text */

.small {
  font-size: 1;
}
